<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="gui" default="true" />
    <arg name="model" default="trailer_full" />

    <param
        name="robot_description"
        textfile="$(find delta_description)/urdf/$(arg model).urdf" />

    <node
        name="robot_tf_broadcaster"
        pkg="tf"
        type="static_transform_publisher"
        args="-2 0 0 0 0 0 ego_vehicle $(arg model) 10" />

    <group if="$(arg gui)">
        <node
            name="rviz"
            pkg="rviz"
            type="rviz"
            args="-d $(find delta_description)/delta_description.rviz" />
    </group>

</launch>
